<%= form_for @patient do |f| %>
  <div class="input-group">
    <label>Recent surgeries</label>
    <%= f.text_field :recent_surgeries, placeholder: "recent surgeries", class: "form-control" %>
  </div>
  <br/>

  <div class="input-group">
    <label>Comorbidities</label>
    <%= f.text_field :comorbidities, placeholder: "comorbidities", class: "form-control" %>
  </div>
  <br/>

  <div class="input-group">
    <label>Medication</label>
    <%= f.text_field :medication, placeholder: "medication", class: "form-control" %>
  </div>
  <br/>

  <div class="input-group">
    <label>Allergies</label>
    <%= f.text_field :allergies, placeholder: "allergies", class: "form-control" %>
  </div>
  <br/>

  <div class="input-group">
    <label>Other</label>
      <p><%= f.check_box :cell_saver %> Cell saver</p>
      <p><%= f.check_box :hdu_bed %> HDU bed</p>
      <p><%= f.check_box :catheter %> Catheter</p>
      <p><%= f.check_box :central_line_needed %> Long course of IV ab expected and central line needed</p>
  </div>
  <br/>

  <div class="input-group">
    <label>Postop VTE prophylaxis</label>
    <%= f.text_field :postop_VTE_prophylaxis, placeholder: "postop VTE prophylaxis", class: "form-control" %>
  </div>
  <br/>

  <h4>If indication for revision is infection</h4>
  <div class="input-group">
    <label>Infection micro-organism</label>
      <p><%= f.text_field :infection_micro_organism, placeholder: "micro-organism" %></p>
    <label>On antibiotics</label>
      <p><%= f.text_field :infection_antibiotics, placeholder: "antibiotics" %> </p>
    <label>Most recent CRP</label>
      <p><%= f.text_field :most_recent_crp, placeholder: "most recent CRP" %></p>
    <p><%= f.check_box :five_samples_microbiology %> 5 samples for microbiology</p>
    <p><%= f.check_box :frozen_sections %> frozen sections</p>
    <p><%= f.check_box :excise_scar %> excise scar</p>
  </div>
  <br/>

  <div class="input-group">
    <label>Representation needed?</label>
    <%= f.text_field :representation, placeholder: "representation", class: "form-control" %>
  </div>
  <br/>

  <div class="input-group">
    <label>Fluoroscopy needed?</label>
      <p><%= f.radio_button :fluoroscopy, ["yes"] %> yes</p>
      <p><%= f.radio_button :fluoroscopy, ["no"] %> no</p>
  </div>
  <br/>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>
