<% @patients.each do |patient| %>
  <ul id=patient.id>
    <h4>Patient id <%= patient.id %></h4>
    <li>Recent surgeries <%= patient.recent_surgeries %></li>
    <li>Comorbidities <%= patient.comorbidities %></li>
    <li>medication <%= patient.medication %></li>
    <li>Allergies <%= patient.allergies %></li>
    <li>postop_VTE_prophylaxis <%= patient.postop_VTE_prophylaxis %></li>
    <li>representation <%= patient.representation %></li>
    <li>fluoroscopy <%= patient.fluoroscopy %></li>
    <li>cell_saver <%= patient.cell_saver %></li>
    <li>hdu_bed <%= patient.hdu_bed %></li>
    <li>catheter <%= patient.catheter %></li>
    <li>central_line_needed <%= patient.central_line_needed %></li>
    <li>infection_micro_organism <%= patient.infection_micro_organism %></li>
    <li>infection_antibiotics <%= patient.infection_antibiotics %></li>
    <li>most_recent_crp <%= patient.most_recent_crp %></li>
    <li>five_samples_microbiology <%= patient.five_samples_microbiology %></li>
    <li>frozen_sections <%= patient.frozen_sections %></li>
    <li>excise_scar <%= patient.excise_scar %></li>
  </ul>
<% end %>
